<a href="https://colab.research.google.com/github/jyotirmoy23/Capstone-Project-1/blob/main/Copy_of_Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
df=pd.read_csv('/content/drive/MyDrive/Copy of Hotel Bookings.csv')

In [ ]:
# See the first five rows
df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 32 columns]

In [ ]:
# Basic Gist of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [ ]:
# The following can be read from initial columns
#Offline vs online bookings
# Type of customer staying and preferred 
# 4 float columns, 16 columns with integer values and 12 coulmns with objects items

In [23]:
# Lets calculate the total NaN values in the dataset.
total_NaN = df.isnull().sum().sort_values(ascending=False)
print(total_NaN)

company                           112593
agent                              16340
country                              488
children                               4
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
is_canceled                            0
market_segment                         0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
babies                                 0
meal                                   0
reservation_status_date                0
distribution_channel                   0
reservation_status                     0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
hotel                                  0
dtype: int64

In [ ]:
# The column company has highest null values. Since this will lead to incorrect assumptions we will drop this column.
# we also drop agent

In [24]:
new_df = df.drop(['company', 'agent'],axis = 1)

In [25]:
new_df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 30 columns]

In [28]:
# Now we check if there are any rows containing zero values in all four columns of adults,children,babies and not cancelled.



new_df[(new_df.adults+new_df.babies+new_df.children+new_df.is_canceled)==0]

               hotel  is_canceled  ...  reservation_status  reservation_status_date
2224    Resort Hotel            0  ...           Check-Out               2015-10-06
2409    Resort Hotel            0  ...           Check-Out               2015-10-12
3181    Resort Hotel            0  ...           Check-Out               2015-11-23
3684    Resort Hotel            0  ...           Check-Out               2016-01-04
3708    Resort Hotel            0  ...           Check-Out               2016-01-05
...              ...          ...  ...                 ...                      ...
115029    City Hotel            0  ...           Check-Out               2017-06-30
115091    City Hotel            0  ...           Check-Out               2017-07-01
116251    City Hotel            0  ...           Check-Out               2017-07-17
116534    City Hotel            0  ...           Check-Out               2017-07-22
117087    City Hotel            0  ...           Check-Out               2017-07-29

[155 rows x 30 columns]

In [ ]:
#  We can see that there are 155 rows which have zero value in adults,babies,children and not cancelled. 
# This means that no one booked  those rooms though the booking were also not cancelled. We will remove these rows for our initial analysis.

In [38]:
new_df_1 = new_df.drop(new_df[(new_df.adults+new_df.babies+new_df.children+new_df.is_canceled)==0].index)

In [39]:
print(new_df_1)

               hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119235 rows x 30 columns]

In [56]:
new_df_1[(new_df_1.is_canceled)==1 ].count()

hotel                             44224
is_canceled                       44224
lead_time                         44224
arrival_date_year                 44224
arrival_date_month                44224
arrival_date_week_number          44224
arrival_date_day_of_month         44224
stays_in_weekend_nights           44224
stays_in_week_nights              44224
adults                            44224
children                          44220
babies                            44224
meal                              44224
country                           44157
market_segment                    44224
distribution_channel              44224
is_repeated_guest                 44224
previous_cancellations            44224
previous_bookings_not_canceled    44224
reserved_room_type                44224
assigned_room_type                44224
booking_changes                   44224
deposit_type                      44224
days_in_waiting_list              44224
customer_type                     44224
adr                               44224
required_car_parking_spaces       44224
total_of_special_requests         44224
reservation_status                44224
reservation_status_date           44224
dtype: int64

In [59]:
a = 44224/119235

In [60]:
print(a)

0.37089780685201496